{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .home-page {
        width: 50%;
        margin: 0 auto;
        text-align: center;
    }
</style>

<div class="home-page">
    <div id="app"><App /></div>
</div>
{% endblock %}
